<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
</head>
<body>
<p th:text="${user.getUsername() + ' ' + user.getLastName()}">Name and Surname</p>
<p th:text="${'Mail: ' + user.getEmail()}">Mail</p>
<p th:text="${'Id: ' + user.getId()}">Id</p>

<a th:href="@{/admin/users/{id}/edit(id=${user.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/admin/users/delete/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
<form name="logoutForm" th:action = "@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>